*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

  html,
  body{
    height: 100%;
    width: 100%;
  }

.parent{
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 30px;
}

.card{
  height: 300px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 30px;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
   
}
.top img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 20px;
  border: 1px soldi #dadada;
  padding: 2px;
}

.top button{
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  display: flex;
  align-items: center;
}

.center{
  background:red;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px soldi #b1b1b1;
  padding-top: 15px;
}
.center{
  font-size: 10px;
}

.center h3{
  font-size: 18px;
}

.center h3 span{
  font-size: ;
}