*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    background: violet;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    margin: 20px;

}