*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
height: 100px;
width: 100px;
border-radius: 50%;
}

.card{
    border: 5px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 5px 10px 5px 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card_button{
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}