*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgb(10,117,146);
}

.nav div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}